h1 {
  color: #00008f;
  text-align: center;
}
.map-img {
  width: 100%;
  height: 400px;
}
a {
  color: #00008f;
}
.map-unselected {
  fill: #dcd8d8;
  cursor: pointer;
}
.map-selected {
  fill: #00008f;
  cursor: pointer;
}

.list-group-item figure {
  margin: 0;
}

.list-group-item img {
  height: 50px;
  border-radius: 50%;
}

.list-group-item h5 {
  margin-bottom: 0.2rem;
}

.card-title {
  margin-bottom: 0;
}
